.nextButton {
  align-items: center;
  padding: 17px 64px;
  background: #0db3fb;
  margin-left: 40%;
  margin-top: 3%;
  border-radius: 16px;
}

.countryText {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 58px;
  text-align: center;
  color: black;
  user-select: none;
}

.somthing {
  position: absolute;
  left: 15.16%;
  right: 84.17%;
  top: 49.03%;
  bottom: 47.23%;
  background: #ffffff;
}

.countryBox {
  width: 237px;
  margin-left: 100px;
  height: 229px;
  box-sizing: border-box;
  box-shadow: 6px 6px 24px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.countryBoxSelected {
  background: linear-gradient(311.3deg, #6adbdb 0%, #0db3fb 97.24%);
  border: 4px solid #0db3fb;
}

.countryBoxNotSelected {
  box-sizing: border-box;
}

.cardHeadings {
  margin-left: 47px;
  margin-top: 11px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: #132b50;
  user-select: none;
}

.homePageCards {
  position: absolute;
  margin-left: 67px;
  margin-right: 57px;
  margin-top: 46px;
  width: 300px;
  height: 144px;
  background-color: grey;
}

.learnMore {
  position: relative;
  width: 1042.66px;
  height: 28px;
  left: 420px;
  margin-top: 19px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  user-select: none;
  line-height: 28px;
  text-align: center;
  color: #7d7d7d;
}

.selectInput {
  width: 328px;
  height: 64px;
  background: #f0f0f0;
  border: 1px solid #f0f0f0;
  box-sizing: border-box;
  border-radius: 16px;
}

.primary {
  height: 58px;
  user-select: none;
  font-family: "Roboto";
  font-style: normal;
  font-size: 48px;
  line-height: 58px;
  color: #132b50;
}

.whatWeOfferBg {
  position: absolute;
  width: 1920px;
  height: 916px;
  left: 0px;
  top: 835px;
  background: linear-gradient(
    180deg,
    #e6f6ff 41.47%,
    rgba(255, 255, 255, 0) 100%
  );
}

.topBarText {
  margin-top: 77px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.75);
  background-color: white;
  border-style: none;
  cursor: pointer;
  user-select: none;
}

.topBarButton {
  user-select: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
  width: 174.31px;
  height: 51.42px;
  margin-top: 61.79px;
  border-style: none;
  background: linear-gradient(289.85deg, #6adbdb 20.37%, #4080d3 73.15%);
  border-radius: 25.708px;
  cursor: pointer;
}

.indiaTextHomePage {
  user-select: none;
  position: absolute;
  width: 666.69px;
  height: 171px;
  left: 240px;
  top: 322px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 57px;
  display: flex;
  align-items: flex-end;
  color: #000000;
}

.flywiseLogo {
  margin: auto;
  margin-top: 13px;
  user-select: none;
}
