/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
.bottom-outline {
	border-bottom: 2px solid black;
	border-radius: 0;
}


.sticky {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
}
#gradientt{
	position: relative;
	background: linear-gradient(90deg, #7fdfe0, #4080d3, #4080d3, #7fdfe0);
	background-size: 400%;
	transition: all 0.5s;
	z-index: 1;
	animation: glow 8s linear infinite;
}
#gradientt:before{
	content: "";
	position: absolute;
	background: inherit;
	top: -5px;
	right: -5px;
	bottom: -5px;
	left: -5px;
	border-radius: 50px;
	filter: blur(20px);
	
	transition: all 0.5s;
	opacity: 1;
	z-index: -1;
}
#gradient {
	position: relative;

	transition: all 0.5s;
}
#gradient:hover {
	background: linear-gradient(90deg, #7fdfe0, #4080d3, #4080d3, #7fdfe0);
	background-size: 400%;
}
#gradient2:hover {
	background: linear-gradient(90deg, #fa7199, #f5ce62, #e43603, #fa7199);
	background-size: 400%;
}
#gradient:before,
#gradient2:before {
	content: "";
	position: absolute;
	background: inherit;
	top: -5px;
	right: -5px;
	bottom: -5px;
	left: -5px;
	border-radius: 50px;
	filter: blur(20px);
	opacity: 0;
	transition: all 0.5s;
}
#gradient:hover:before,
#gradient2:hover:before {
	opacity: 1;
	z-index: -1;
}
#gradient:hover {
	z-index: 1;
	animation: glow 8s linear infinite;
}
/* sdcsd */
#gradient:focus {
	background: linear-gradient(90deg, #7fdfe0, #4080d3, #4080d3, #7fdfe0);
	background-size: 400%;
}
#gradient2:focus {
	background: linear-gradient(90deg, #fa7199, #f5ce62, #e43603, #fa7199);
	background-size: 400%;
}
#gradient:focus:before,
#gradient2:focus:before {
	opacity: 1;
	z-index: -1;
}
#gradient:focus {
	z-index: 1;
	animation: glow 8s linear infinite;
}
@keyframes glow {
	0% {
		background-position: 0%;
	}
	100% {
		background-position: 400%;
	}
}

.next-container {
	background: rgb(255, 255, 255);
	background: linear-gradient(
		0deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 0.9259259259259259) 52%,
		rgba(255, 255, 255, 0) 100%
	);
}
