.what{
	position: fixed !important;
	height: 100px;
	width: 100px;
	right: 0px;
	background: transparent;
	z-index: 50;
	bottom: 10px;
}
.what img{
	object-fit: contain;
	filter: drop-shadow(0px 0px 1px rgba(18, 10, 19, 0.403));
}
.pnggg{
	width:400px;
	height:45	0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.pnggg img{
	object-fit: contain;
}
.godown{
	font-size: 20px;
	padding-top: 4px;
	height:40px;
	width: 40px;
	border-radius: 20px;
	background-color: white;
	position: fixed;
	bottom:90px;
	right:20px;
	z-index: 50;
	
	align-items: center;
	justify-content: center;
	display: none;

}
.linkdk1{
	opacity: 1 !important;
	animation: gayab 2s ease;
	
}
.test{
	height:650px;
	width:430px;
	background-color:   #F6F7F8;
	padding:40px 50px;
	border-radius: 10px;
}
.images{
	position: relative;
	height:350px;
	width:330px;
	margin-bottom: 20px;
}

.logo{
	position: absolute;
	bottom:0px;
	right:0px;
	height:50px;
	width:140px;
	background-color: rgba(255, 255, 255, 0.7);
}
.text{
	font-size: 14px;

}
.test h2{
	font-size: 20px;
	font-weight: 600;
	color: #6ADBDB;
	margin-top: 10px;

}
.degree{
	font-size: 16px;
	font-weight: 600;
	margin-top: 5px;
}



.linkks2{
	opacity: 1!important;
	animation-delay: 1s;
	animation:gayab 2s ease;
}
.linksk3{
	opacity: 1!important;
	animation-delay: 2s;
	animation:gayab 2s ease;
}
@keyframes gayab{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@media(max-width:500px){
	.what{
		height:80px;
		width:80px;

	}
	.pnggg{
		width: 340px;
	}
	.godown{
		display: flex;
	}
	

}
@media(max-width: 450px){
	.test{
		height:600px;
		width:360px;
		
		padding:30px 30px;
		}
	.images{
		position: relative;
		height:350px;
		width:300px;
		margin-bottom: 20px;
	}
	.testImg{
		height:350px;
		width:300px;
		object-fit: cover;
	}
	
	.logo{
		position: absolute;
		bottom:0px;
		right:0px;
		height:50px;
		width:140px;
		background-color: rgba(255, 255, 255, 0.7);
	}
	.text{
		font-size: 12px;
	
	}
	.test h2{
		font-size: 18px;
		font-weight: 600;
		color: #6ADBDB;
		margin-top: 10px;
	
	}
	.degree{
		font-size: 14px;
		font-weight: 600;
		margin-top: 5px;
	}
}